/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    margin: 80px 20px 30px;
    text-align: center;
}
